<style>
    footer{
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px;
        position: relative;
        bottom: 0;
        width: 100%;
    }
</style>
<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="glossary.html">Glossary</a></li>
        <li><a href="quiz.html">Quiz</a></li>
        <li><a href="conjugations.html">Conjugations</a></li>
    </ul>
</nav>
<footer>
    &copy; 2024 Spanalyze. No rights reserved.
</footer>
